@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --font-primary:'Yanone Kaffeesatz', sans-serif;;
    
}
.fundo{
    height: 100vh;
    color: #fff;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.container{
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
    background-color: #000000;
    width: 26rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    
}
#title{
    font-family: var(--font-primary);
    letter-spacing: 0.6rem;
}
.box{
    border: #ffffff;
    border-bottom: 7px dashed white;
}
#n1{
    border: none;
    margin-left: 1.9rem;
    color: #ffffff;
    width: 13rem;
    height: 7rem;
    font-size: 6rem;
    font-family: var(--font-primary);
    background-color: #000000;
    letter-spacing: 0.6rem;
    
}
input[type=number]::-webkit-inner-spin-button{
    outline: none;
    display: none;
    appearance: none;
}

#n1:focus{
    outline:none;
    box-shadow: 0 0 0 0;
}
#n1:active{
    outline: none;
}
#btn{
    box-shadow:inset 0px 34px 0px -15px #000000;
	background-color:#000000;
	border:1px solid #8ca18f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
    letter-spacing: 0.5rem;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #000000;
    font-family: var(--font-primary);
}
#resposta{
    width: 16rem;
    height: 4rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
    background-color: #000000;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    letter-spacing: 0.3rem;
}